/node_modules/
/lib/
/test/
custom-elements.json
# top level source
my-element.js
my-element.js.map
my-element.d.ts
my-element.d.ts.map
# only generated for size check
my-element.bundled.js
# generated documentation output
/docs/

# top level source
material-next-home.js
material-next-home.js.map
material-next-home.d.ts
material-next-home.d.ts.map
app-showcase.js
app-showcase.js.map
app-showcase.d.ts
app-showcase.d.ts.map
app-showcase-styles.js
app-showcase-styles.js.map
app-showcase-styles.d.ts
app-showcase-styles.d.ts.map
material-next-home-styles.js
material-next-home-styles.js.map
material-next-home-styles.d.ts
material-next-home-styles.d.ts.map
my-element-styles.js
my-element-styles.js.map
my-element-styles.d.ts
my-element-styles.d.ts.map
code-block.js
code-block.js.map
code-block.d.ts
code-block.d.ts.map
code-block-styles.js
code-block-styles.js.map
code-block-styles.d.ts
code-block-styles.d.ts.map

expressive-tab-bar.js
expressive-tab-bar.js.map
expressive-tab-bar.d.ts
expressive-tab-bar.d.ts.map
expressive-tab-bar-styles.js
expressive-tab-bar-styles.js.map
expressive-tab-bar-styles.d.ts
expressive-tab-bar-styles.d.ts.map
