/node_modules/
/lib/
/dist/
/test/
custom-elements.json
# top level source
# only generated for size check
# generated documentation output
/docs/

# top level source
material-next-home.js
material-next-home.js.map
material-next-home.d.ts
material-next-home.d.ts.map
app-showcase.js
app-showcase.js.map
app-showcase.d.ts
app-showcase.d.ts.map
app-showcase-styles.js
app-showcase-styles.js.map
app-showcase-styles.d.ts
app-showcase-styles.d.ts.map
material-next-home-styles.js
material-next-home-styles.js.map
material-next-home-styles.d.ts
material-next-home-styles.d.ts.map
code-block.js
code-block.js.map
code-block.d.ts
code-block.d.ts.map
code-block-styles.js
code-block-styles.js.map
code-block-styles.d.ts
code-block-styles.d.ts.map

expressive-tab-bar.js
expressive-tab-bar.js.map
expressive-tab-bar.d.ts
expressive-tab-bar.d.ts.map
expressive-tab-bar-styles.js
expressive-tab-bar-styles.js.map
expressive-tab-bar-styles.d.ts
expressive-tab-bar-styles.d.ts.map

docs-navigation.js
docs-navigation.js.map
docs-navigation.d.ts
docs-navigation.d.ts.map
docs-vertical-tabs.js
docs-vertical-tabs.js.map
docs-vertical-tabs.d.ts
docs-vertical-tabs.d.ts.map
docs-vertical-tabs-styles.js
docs-vertical-tabs-styles.js.map
docs-vertical-tabs-styles.d.ts
docs-vertical-tabs-styles.d.ts.map
docs-table-of-contents.js
docs-table-of-contents.js.map
docs-table-of-contents.d.ts
docs-table-of-contents.d.ts.map
docs-table-of-contents-styles.js
docs-table-of-contents-styles.js.map
docs-table-of-contents-styles.d.ts
docs-table-of-contents-styles.d.ts.map
